$white: #fff;
$very-light-gray: #f7f8f9;
$blue-gray: #8999a6;
$border-gray: #ebeef9;
$green: #4BC856;
$red: #F40842;
$blue: #4786FF;
$black: #333;
$grey2: #ccc;
$grey3: #eee;

$dp1-shadow: 0 2px 4px 1px rgba(227, 232, 236, 0.5);
$dp8-shadow: 0 0 15px 5px rgba(227, 232, 236, 0.5);

$header-font: 'Ubuntu', sans-serif;
$body-font: 'Roboto', sans-serif;
